<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>订单管理</title>
	<link rel="stylesheet" href="/layui.2.2.3/layui/css/layui.css" />

	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/layer/layer.js"></script>
	<script>

		$(document).ready(function(){
			layer.alert(123);

		});


	</script>
</head>
<body class="childrenBody">

<div class="layui-form-item">
	<div class="layui-input-block">
		<button class="layui-btn addSubmit" >立即提交</button>
	</div>
</div>
</body>
</html>