<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<title>后台管理员修改密码</title>
	<link rel="stylesheet" th:href="@{{path}/layui.2.2.3/layui/css/layui.css(path=${contextPath})}" media="all"/>
	<link rel="stylesheet" th:href="@{{path}/css/user.css(path=${contextPath})}" media="all" />

	<script type="text/javascript" th:src="@{{path}/layui.2.2.3/layui/layui.js(path=${contextPath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/user.js(path=${contextPath})}"></script>
</head>
<body class="childrenBody">
	<form class="layui-form changePwd" action="/changePwdPost" method="post" >
		<div style="margin:0 0 15px 110px;color:#f00;" th:text="${result}"></div>
		<div class="layui-form-item">
		    <label class="layui-form-label">用户名</label>
		    <div class="layui-input-block">
		    	<input type="hidden" th:value="${userName}" id="userName" name="userName" />
		    	<input th:value="${userName}" disabled="disabled" class="layui-input layui-disabled" />
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label">旧密码</label>
		    <div class="layui-input-block">
		    	<input type="password" id="oldPwd" name="oldPwd" placeholder="请输入旧密码"  lay-verify="required|oldPwd" class="layui-input pwd" />
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label">新密码</label>
		    <div class="layui-input-block">
		    	<input type="password" placeholder="请输入新密码" lay-verify="required|newPwd" id="newPwd" name="newPwd" class="layui-input pwd" />
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label">确认密码</label>
		    <div class="layui-input-block">
		    	<input type="password" placeholder="请确认密码" lay-verify="required|confirmPwd" class="layui-input pwd" />
		    </div>
		</div>
		<div class="layui-form-item">
		    <div class="layui-input-block">
		    	<button class="layui-btn" lay-submit="" lay-filter="changePwd">立即修改</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
</body>
</html>