<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<title>用户管理</title>
	<link rel="stylesheet" th:href="@{{path}/layui.2.2.3/layui/css/layui.css(path=${contextPath})}" media="all"/>

	<script type="text/javascript" th:src="@{{path}/layui.2.2.3/layui/layui.js(path=${contextPath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/user.js(path=${contextPath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/base.js(path=${contextPath})}"></script>
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote">
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text" id="userName" name="userName" placeholder="名称" class="layui-input"  />
		    </div>
		</div>

		<div class="layui-inline">
			<div class="layui-input-inline">
				<select name="roleId" id="roleId">
					<option value="" >请选择角色</option>
					<option th:each="item : ${roles}" th:value="${item.roleId}" th:text="${item.roleName}"></option>
				</select>
			</div>
		</div>

		<div class="layui-inline">
			<a class="layui-btn searchBtn"><i class="layui-icon">&#xe615;</i>查询</a>
		</div>

		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal add"><i class="layui-icon">&#xe608;</i>添加</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger removeBatch"><i class="layui-icon">&#xe640;</i>批量删除</a>
		</div>
	</blockquote>
	
	<table  class="layui-table" id="dataTable"></table>
	
	<!-- 操作模板 -->
	<script type="text/html" id="operationTemplet">
  		<a class="layui-btn layui-btn-xs edit" data-id='{{d.id}}'>编辑</a>
  		<a class="layui-btn layui-btn-danger layui-btn-xs remove" data-id='{{d.id}}'>删除</a>
	</script>
</form>
</body>
</html>