<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>系统菜单管理</title>
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="../../css/font_eolqem241z66flxr.css" media="all" />
	<link rel="stylesheet" href="../../css/user.css" media="all" />
</head>
<body class="childrenBody">

	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
		    <div class="layui-input-inline">
		    	<input type="text" value="" placeholder="菜单名称" class="layui-input search_input" />
		    </div>
		    <a class="layui-btn search_btn">查询</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-normal add">添加菜单</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger removeBatch">批量删除</a>
		</div>
	</blockquote>
	
	<div class="layui-form news_list">
	  	<table class="layui-table" id="dataTable"></table>
	</div>
	<!-- 操作模板 -->
	<script type="text/html" id="operationTemplet">
  		<a class="layui-btn layui-btn-mini edit"><i class="iconfont icon-edit"></i> 编辑</a>
  		<a class="layui-btn layui-btn-danger layui-btn-mini remove" data-id="'+data[i].usersId+'"><i class="layui-icon">&#xe640;</i> 删除</a>
	</script>
	<div id="page"></div>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript" src="../../js/menu.js"></script>
</body>
</html>