<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8" />
	<title>系统日志</title>
	<link rel="stylesheet" th:href="@{{path}/layui.2.2.3/layui/css/layui.css(path=${contextPath})}" media="all"/>

	<script type="text/javascript" th:src="@{{path}/layui.2.2.3/layui/layui.js(path=${contextPath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/log.js(path=${contextPath})}"></script>
	<script type="text/javascript" th:src="@{{path}/js/base.js(path=${contextPath})}"></script>
</head>
<body class="childrenBody">
	<form class="layui-form">
		<blockquote class="layui-elem-quote">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<select name="operation" id="operation" >
						<option value="" >请选择操作类型</option>
						<option th:each="item : ${operations}" th:value="${item}" th:text="${item}" />
					</select>
				</div>
			</div>

			<div class="layui-inline">
				<label class="layui-form-label">开始时间</label>
				<div class="layui-input-inline">
					<input type="text" id="startTime" name="startTime" class="layui-input" />
				</div>
			</div>

			<div class="layui-inline">
				<label class="layui-form-label">开始时间</label>
				<div class="layui-input-inline">
					<input type="text" id="endTime" name="endTime" class="layui-input" />
				</div>
			</div>

			<div class="layui-inline">
				<a class="layui-btn searchBtn"><i class="layui-icon">&#xe615;</i>查询</a>
			</div>
		</blockquote>
	</form>
	<table  class="layui-table" id="dataTable"></table>
</body>
</html>