<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{index.css}" />
<script th:href="@{index.js}"></script>
</head>
<body>
	<form th:action="@{/customer/}">
			
		<fieldset>
		<a th:href="@{/customer/edit}">增加</a>
		<br/>
		<label>用户列表</label>
		<table>
			<tr>
				<td>编号</td>
				<td>姓名</td>
				<td>操作</td>
			</tr>
			<tr th:each="obj:${data}" >
				<td th:text="${obj.id}"></td>
				<td th:text="${obj.name}"></td>
				<td><a th:href="@{/customer/delete(id=${obj.id})}">删除</a></td>
			</tr>

		</table>
		
		</fieldset>

	</form>
</body>
</html>