<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{index.css}" />
<script th:href="@{index.js}"></script>
</head>
<body>
	<form method="post" th:action="@{/user/save}">
		<a th:href="@{/user/list}">列表</a>
		<fieldset>

			<div>
				<input type="hidden" id="id" name="id" th:value="${data.id}" />
				<label>用户名: </label> <input id="userName" name="userName" th:value="${data.userName}" />
				<label>密码: </label> <input id="password" name="password" th:value="${data.password}" />
				<label>性别: </label> 
				<select id="sex" name="sex" >
					<option value="1">男</option>
					<option value="0">女</option>
				</select>
			</div>
			<br />
			<button type="submit">提交</button>

		</fieldset>

	</form>
</body>
</html>