<head th:fragment="header">
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" th:href="@{{path}/layui/css/layui.css(path=${contextPath})}" media="all" />

	<script th:src="@{{path}/js/jquery-3.2.1.min.js(path=${contextPath})}"></script>
	<script th:src="@{{path}js/base.js(path=${contextPath})}"></script>
</head>
<div th:fragment="footer">
	<!--<script th:src="@{{path}/js/jquery-3.2.1.min.js(path=${contextPath})}"></script>-->
	<!--<script th:src="@{{path}js/base.js(path=${contextPath})}"></script>-->
</div>
