<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>登陆界面</title>

<head th:include="include :: header"></head>
<link rel="stylesheet" th:href="@{css/login.css}" />

<body>
	<div id="loginPanel">
		<div class="container">
			<div class="login">
				<h1>PN管理平台</h1>
				<form method="post" id="loginForm">
					<p>
						<input type="text" name="userName" id="userName" placeholder="用户名" />
					</p>
					<p>
						<input type="password" name="password" id="password" placeholder="密码" />
					</p>
					<p class="remember_me">
						<label><input type="checkbox" name="autoLogin" id="autoLogin" />自动登录</label>
					</p>
					<p class="submit">
						<input type="button" id="loginBtn" value="登陆" />
					</p>
					<p class="error" id="loginResult"></p>
				</form>
			</div>
			<div class="login-help">
				<p>
					忘记密码？ <a href="user/resetPwd.html">重新设置密码</a>。
				</p>
			</div>
		</div>
	</div>

	<div class="container" id="logining">
		<div class="login">
			<img src="images/loading-16.gif" style="margin-right: 5px;" /><span>正在登陆系统，请稍后...</span>
		</div>
	</div>
	<!-- 引入js 文件 -->
	<div th:include="include::footer"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			//绑定登陆事件
			$("#loginBtn").click(function() {
				if (checkData()) {
					login();
				}
			});
		});
		
		//登陆
		function login() {
			var msg = $("#loginResult");
			msg.text("");
			$.ajax({
				type : "post",
				url : "/loginPost",
				data : $("#loginForm").serialize(),
				success : function(r) {
					if (r.code == g.successCode) {
						parent.location.href = '/index';
					} else {
						msg.text(r.msg);
					}
				}
			});
		}

		//校验数据非空
		function checkData() {
			var userName = $("#userName").val();
			var password = $("#password").val();
			var msg = $("#loginResult");
			msg.text("");

			if (g.isEmpty(userName)) {
				msg.text("用户名不能为空!");
				return false;
			}

			if (g.isEmpty(password)) {
				msg.text("密码不能为空!");
				return false;
			}

			return true;
		}
		
	</script>
</body>
</html>