<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <title>日志详情</title>
    <link rel="stylesheet" th:href="@{{path}/layui.2.2.3/layui/css/layui.css(path=${contextPath})}" media="all"/>
    <script type="text/javascript" th:src="@{{path}/layui.2.2.3/layui/layui.js(path=${contextPath})}"></script>
    <script type="text/javascript" th:src="@{{path}/js/order.js(path=${contextPath})}"></script>
    <script type="text/javascript" th:src="@{{path}/js/base.js(path=${contextPath})}"></script>
</head>
<body class="childrenBody">
<form class="layui-form">
    <div class="layui-row" style="margin-top:20px;padding-left:20px;">
    	<p th:each="item, line: ${data}" th:text="${item}"></p>
    </div>
</form>
</body>
</html>