<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8"/>
    <title>菜单权限设置</title>
    <link rel="stylesheet" th:href="@{{path}/layui.2.2.3/layui/css/layui.css(path=${contextPath})}" media="all"/>
    <link rel="stylesheet" th:href="@{{path}/zTreeStyle/zTreeStyle.css(path=${contextPath})}"/>

    <script type="text/javascript" th:src="@{{path}/js/jquery-3.2.1.min.js(path=${contextPath})}"></script>
    <script type="text/javascript" th:src="@{{path}/ztree/jquery.ztree.all.min.js(path=${contextPath})}"></script>
    <script type="text/javascript" th:src="@{{path}/js/roleMenu.js(path=${contextPath})}"></script>
    <script type="text/javascript" th:src="@{{path}/js/base.js(path=${contextPath})}"></script>
    <script type="text/javascript" th:src="@{{path}/layer/layer.js(path=${contextPath})}"></script>
</head>
<body class="childrenBody">
    <div class="layui-form" style="width:80%;">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md2">
                <input type="hidden" id="roleId" name="roleId" th:value="${roleId}" />
                <input type="hidden" id="action" name="action" th:value="${action}" />
            </div>
            <div class="layui-col-md10">
                <div class="zTreeDemoBackground left">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
        </div>

        <div class="layui-row layui-col-space10">
            <div class="layui-col-md2"></div>
            <div class="layui-col-md10">
                <div class="layui-input-block">
                    <button class="layui-btn addSubmit">立即提交</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>