<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>菜单权限设置</title>
    <link rel="stylesheet" href="/layui.2.2.3/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/zTreeStyle/zTreeStyle.css" />

    <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/ztree/jquery.ztree.all.min.js"></script>
    <script type="text/javascript" src="/js/roleMenu.js"></script>
</head>
<body class="childrenBody">
<div class="layui-form" style="width:80%;">
    <div class="layui-form-item" style="margin-top: 20px;">
		<div class="zTreeDemoBackground left">
			<ul id="treeDemo" class="ztree"></ul>
		</div>
    </div>
    
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn addSubmit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</div>
</body>
</html>